<div class="mb-4 col-md-12">
	{{ form_row(formUpdatePassword.currentPassword) }}
</div>
<div class="mb-4 col-md-6">
	{{ form_row(formUpdatePassword.plainPassword.first) }}
</div>
<div class="mb-4 col-md-6">
	{{ form_row(formUpdatePassword.plainPassword.second) }}
</div>
