{% if categories %}
	{% for category in categories %}
		<a class="text-uppercase text-muted text-sm letter-spacing-2" href="{{ path('blog_category', {slug: category.slug}) }}">
			{{ category.name }}
		</a>
	{% endfor %}
{% endif %}
