{% extends "base.html.twig" %}

{% set page = entity %}
{% set pagetitle = page.title %}
{% block title pagetitle %}

{% block breadcrumb %}
	{% set breadcrumb = [{ "current":(pagetitle) }] %}
	{% include "global/breadcrumb.html.twig" with breadcrumb %}
{% endblock %}

{% block body %}

	<section class="py-6">
		<div class="container">
			<div class="row">
				<div class="col-xl-8 col-lg-10 mx-auto">
					<div class="text-content">
                        {{ page.content | html_markdown }}
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}
