{% extends 'email.html.twig' %}

{% block body %}
    <p><a href="{{ absolute_url(path("reset_password", {resetPasswordToken: user.resetPasswordToken})) }}">{{ 'Click here'|trans }}</a></p>
{% endblock %}
