{% extends "base.html.twig" %}

{% set pagetitle = 'There was an error publishing your comment'|trans({}, 'messages') %}
{% block title pagetitle %}

{% block body %}

	<section>
		<div class="container">
			<div class="row">
                <div class="col-xl-8 col-lg-10 mx-auto">
					<div class="mt-5">
						<h6 class="text-uppercase text-muted mb-4">
							{{'There was an error publishing your comment'|trans}}
						</h6>
                    </div>
					<div class="mb-5">
						<button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse" data-bs-target="#leaveComment" aria-expanded="false" aria-controls="leaveComment">
							{{ 'Leave a comment'|trans }}
						</button>
						<div class="collapse" id="leaveComment">
                            <div class="mt-4">
                                {{ include('blog/comment/_form.html.twig', {form: form}) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
