<div class="mb-4 col-md-6">
    {{ form_row(form.headline) }}
</div>
<div class="mb-4 col-md-6">
    {{ form_row(form.rating) }}
</div>
<div class="mb-4 col-md-12">
    {{ form_row(form.details) }}
</div>
