{{ form_errors(form) }}
<div class="col-md-12 mb-3">
    {{ form_row(form.photoFile) }}
</div>
<div class="col-md-12 mb-3">
    {{ form_row(form.comment) }}
</div>
<div class="col-md-12 mb-3">
    {{ form_row(form.rating) }}
</div>
