{% extends "base.html.twig" %}

{% block title pagetitle %}

{% block body %}

	<div class="container-fluid py-5 px-lg-5">
		<div class="row border-bottom mb-4">
			<div class="col-12">
				<h1 class="display-4 fw-bold text-serif mb-4">{{ pagetitle }}</h1>
				<p class="lead text-muted"></p>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-3 pt-3">
				{% include "global/article-search-data.html.twig" with {
					form: form ?? null
				} only %}
			</div>
			<div class="col-lg-9">
				<div class="d-flex justify-content-between align-items-center flex-column flex-md-row mb-4">
					<div class="me-3">
						<p class="mb-3 mb-md-0">
							{{ "%resultsCount% result(s) found"|trans({'%resultsCount%': pagination.getTotalItemCount}) }}
						</p>
					</div>
					<div></div>
				</div>
				<div class="row">
					{% if pagination.getTotalItemCount > 0 %}
						{% for article in pagination %}
							{% include "global/article-card.html.twig" with {article: article, thumbnailsize: [768, 432], showdate: 1} only %}
						{% endfor %}
					{% else %}
						{% include "global/message.html.twig" with { type: "info", message: ('Article no found'|trans), icon: "fas fa-exclamation-circle" } %}
					{% endif %}
				</div>
				{{ knp_pagination_render(pagination, null, {}, {'align': 'center'}) }}
			</div>
		</div>
	</div>

{% endblock %}
